[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==2.0.0b1"
pillow = "*"
tensorflow-hub = "*"
tensorflow-text = "*"
ipython = "*"
matplotlib = "*"
sklearn = "*"
opencv-python = "*"
tensorflow-datasets = "*"

[requires]
python_version = "3.7"
