[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==2.0.0"
tensorflow-hub = "*"
tensorflow-datasets = "*"
tensorflow-addons = "*"
ipython = "*"
matplotlib = "*"
pillow = "*"
tensorflow-probability = "*"
numpy = "*"

[requires]
python_version = "3.7"
